*{
    text-decoration: none;
    list-style: none;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    width: 100vw;
    height: 100vh;
    background: black;
    background-image: url('img/fondpokemon.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
}
.acceuil{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
}
.logo{
    width: 100vh;
    height: 50vh;    
    display: flex;
    align-items: end;
    justify-content: center;
}
.logo img{
    width: 30rem;
    height: 30rem;
    border-radius: 40%;
}
.joueur{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.joueur1{
    background-color: rgb(54, 54, 54);
    color: white;
    width: 15rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-family: "Barlow Condensed", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    cursor: pointer;
}
.joueur2{
    background-color: rgb(54, 54, 54);
    color: white;
    width: 15rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-family: "Barlow Condensed", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    cursor: pointer;
}

.joueur1:hover{
    background: rgb(98,98,98);
    background: radial-gradient(circle, rgba(98,98,98,1) 0%, rgba(54,54,54,1) 100%);
}
.joueur2:hover{
    background: rgb(98,98,98);
    background: radial-gradient(circle, rgba(98,98,98,1) 0%, rgba(54,54,54,1) 100%);
}
:root {
    --hover: green;
    --player1: green;
    --player2: red;
}

.selection {
    width: 100%;
    height: 100%;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 92px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -46px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.pokemons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    gap: 16px;
    word-spacing: 16px;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    font-family: "Barlow Condensed", serif;


    img {
        background-color: #171933;
        border: 2px solid white;
        width: 92px;
        height: 92px;
    }

    img:hover {
        border: 2px solid var(--hover);
        filter: drop-shadow(0 0 5px var(--hover));
    }
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    .choice1 {
        visibility: hidden;
        background-image: url('img/mewtwo.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 768px;
        height: 768px;
        filter: drop-shadow(-2px 0 5px black);

        p {
            visibility: hidden;
            position: absolute;
            font-family: 'Pokemon', sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: aqua;
            top: 100%;
            left: 40%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 2px 2px black;
        }

        h2 {
            position: absolute;
            font-family: 'Pokemon', sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: white;
            top: 75%;
            left: 32%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 2px 2px black;
        }

        .degats {
            position: absolute;
            font-family: 'Pokemon', sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: red;
            top: 30%;
            right: -10%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 2px 2px black;
        }
    }
    
    .choice2 {
        visibility: hidden;
        background-image: url('img/lugia.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 768px;
        height: 768px;
        filter: drop-shadow(2px 0 5px black);

        p {
            visibility: hidden;
            position: absolute;
            font-family: 'Pokemon', sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: aqua;
            top: 100%;
            left: 40%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 2px 2px black;
        }

        h2 {
            position: absolute;
            font-family: 'Pokemon', sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: white;
            top: 75%;
            right: 20%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 2px 2px black;
        }

        .degats {
            position: absolute;
            font-family: 'Pokemon', sans-serif;
            font-weight: bold;
            font-size: 32px;
            color: red;
            top: 30%;
            right: 75%;
            transform: translate(-50%, -50%);
            text-shadow: 2px 2px 2px black;
        }
    }

    .vs {
        filter: drop-shadow(0 0 5px black);
    }
}

@font-face {
    font-family: 'Pokemon';
    src: url('/fonts/Pokemon.ttf');
}